<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <meta property="og:title"              content="@ViewBag.Title" />
    <meta property="og:description"        content="@ViewBag.Description" />
    <meta property="og:image"              content="/assets/images/social_logo.jpg" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Losvik kommune</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Privacy">Personvern</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </footer>

    <script src="~/assets/js/app.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
