@page
@model Shoppur.Pages.Admin.Orders.IndexModel

@{
    ViewData["Title"] = "Losvik-kalenderen 2020";
    ViewData["Description"] = "Bestill kalenderen i dag.";
}

<h1 class="display-2 pt-5">Ordrer</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Kunde
            </th>
            <th>
                Status
            </th>
            <th>
                Pakkestatus
            </th>
            <th>
                Produkter
            </th>
            <th>
                Logg
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @item.Customer.Email <br />
                <br />

                @item.Customer.Name <br />
                @item.Customer.ShippingAddress.Address <br />
                @item.Customer.ShippingAddress.Zip @item.Customer.ShippingAddress.City
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shipping)
            </td>
            <td>
                <ul>
                @foreach (var ol in item.OrderLines) {
                   <li>@ol.Quantity <span>x </span>@ol.ProductName</li>
                }
                </ul>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Log)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
