@page
@model Sjop.Pages.Admin.Orders.IndexModel

@{
    ViewData["Title"] = "Losvik-kalenderen 2020";
    ViewData["Description"] = "Bestill kalenderen i dag.";
}

<h1 class="display-2 pt-5">Ordrer</h1>

<h2 class="pt-5">Betalte ordre</h2> 
<table class="table">
    <thead>
        <tr>
            <th>
                Ordre
            </th>
            <th>
                Infno
            </th>
            <th>
                Pakkestatus
            </th>
            <th>
                Logg
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PaidOrders) {
        <tr>
            <td>

                <b>@item.Customer.Name</b> <br />
                @item.Customer.ShippingAddress.Address <br />
                @item.Customer.ShippingAddress.Zip @item.Customer.ShippingAddress.City
                <br><br>    
                Frakt: @item.ShippingMethod
                <ul>
                @foreach (var ol in item.OrderLines) {
                   <li>@ol.Quantity <span>x </span>@ol.ProductName</li>
                }
                </ul>
            </td>
            <td>
                OrdreId: @item.Id <br />
                Dato: @item.DateCreated <br />
                E-post: @item.Customer.Email <br />
                <br />
                <br />
                Ordrestatus: @Html.DisplayFor(modelItem => item.Status) <br />
                Sendestatus: @Html.DisplayFor(modelItem => item.Shipping)
                
            </td>
            <td>
                <span title="@Html.DisplayFor(modelItem => item.Log)">Logg</span>
                
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>


<h2 class="pt-5">Andre ordre</h2> 
<table class="table">
    <thead>
        <tr>
            <th>
                Ordre
            </th>
            <th>
                Infno
            </th>
            <th>
                Pakkestatus
            </th>
            <th>
                Logg
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OtherOrders) {
        <tr>
            <td>

                <b>@item.Customer.Name</b> <br />
                @item.Customer.ShippingAddress.Address <br />
                @item.Customer.ShippingAddress.Zip @item.Customer.ShippingAddress.City
                <br><br>    
                Skal ha
                <ul>
                @foreach (var ol in item.OrderLines) {
                   <li>@ol.Quantity <span>x </span>@ol.ProductName</li>
                }
                </ul>
            </td>
            <td>

                @item.Customer.Email <br />
                Sende som: @item.ShippingMethod
                <br />
                <br />
                Ordrestatus: @Html.DisplayFor(modelItem => item.Status) <br />
                Sendestatus: @Html.DisplayFor(modelItem => item.Shipping)
                
            </td>
            <td>
                <span title="@Html.DisplayFor(modelItem => item.Log)">Logg</span>
                
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
